{% extends "public/base.html" %}
{% block body %}
    <div class="main-content">
        <div class="page-content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="send-post-panel">
                        <form class="form-horizontal" id="form_send_post" enctype="multipart/form-data" method="post"
                              action="{{ url_for('.send_post') }}">
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right"> 选择用户</label>

                                <div class="col-sm-9">

                                    <select class="chosen-select" name="uid" require
                                            data-placeholder="请选择一个用户"
                                            style="display: none;">
                                        {% for u in users %}
                                            <option value="{{ u.nickname }}/{{ u.uid }}">{{ u.nickname }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right">选择头像</label>


                                <div class="col-sm-9">
                                    <input type="file" name="avatar" accept="image/*" data-target=""
                                           class="form-control">
                                </div>

                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right"> 自定义昵称</label>

                                <div class="col-sm-9">
                                    <input type="text" name="nickname" placeholder="自定义昵称"
                                           class="col-xs-10 col-sm-5" required>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right">圈子</label>

                                <div class="col-sm-9">
                                    <select class="chosen-select" name="group" require
                                            data-placeholder="请选择圈子"
                                            style="display: none;">
                                        <option>请选择</option>
                                        <option value="education">学校圈</option>
                                        <option value="work">工作圈</option>
                                        <option value="house">小区圈</option>
                                        <option value="city">老乡圈</option>
                                        <option value="travel">旅行圈</option>
                                        <option value="movie">电影圈</option>
                                        <option value="book">书籍圈</option>
                                        <option value="game">游戏圈</option>
                                        <option value="concern">关注圈</option>
                                    </select>
                                </div>

                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right"> 圈子名称</label>

                                <div class="col-sm-9">
                                    <select class="chosen-select" name="group_name" require
                                            data-placeholder="请选择圈子"
                                            style="display: none;">
                                        <option>请选择</option>
                                    </select>
                                </div>

                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 帖子内容</label>

                                <div class="col-sm-9">
                                <textarea required name="content" type="text" cols="4" rows="4" style="resize: none"
                                          id="form-field-2"
                                          placeholder="请输入"
                                          class="col-xs-10 col-sm-5"></textarea>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">

                                <label class="col-sm-3 control-label no-padding-right">选择图片</label>
                                <br><br>

                                <div class="col-sm-7 image-panel">
                                    <input type="file" name="picture[]" accept="image/*" data-target="uploadImageFile"
                                           class="form-control">
                                </div>
                                <div class="col-sm-7 image-panel">
                                    <input type="file" name="picture[]" accept="image/*" data-target="uploadImageFile"
                                           class="form-control">
                                </div>
                                <div class="col-sm-7 image-panel">
                                    <input type="file" name="picture[]" accept="image/*" data-target="uploadImageFile"
                                           class="form-control">
                                </div>
                                <div class="col-sm-7 image-panel">
                                    <input type="file" name="picture[]" accept="image/*" data-target="uploadImageFile"
                                           class="form-control">
                                </div>
                                <div class="col-sm-7 image-panel">
                                    <input type="file" name="picture[]" accept="image/*" data-target="uploadImageFile"
                                           class="form-control">
                                </div>
                                <div class="col-sm-7 image-panel">
                                    <input type="file" name="picture[]" accept="image/*" data-target="uploadImageFile"
                                           class="form-control">
                                </div>
                                <div class="col-sm-7 image-panel">
                                    <input type="file" name="picture[]" accept="image/*" data-target="uploadImageFile"
                                           class="form-control">
                                </div>
                                <div class="col-sm-7 image-panel">
                                    <input type="file" name="picture[]" accept="image/*" data-target="uploadImageFile"
                                           class="form-control">
                                </div>
                                <div class="col-sm-7 image-panel">
                                    <input type="file" name="picture[]" accept="image/*" data-target="uploadImageFile"
                                           class="form-control">
                                </div>

                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">

                                <div class="clearfix form-actions" style="background-color: #fff;border:none">
                                    <div class="col-md-offset-3 col-md-9">
                                        &nbsp; &nbsp; &nbsp;
                                        <button class="btn btn-info" type="submit">
                                            提 交
                                        </button>

                                        &nbsp; &nbsp; &nbsp;
                                        <button class="btn" type="reset">
                                            重 置
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!---->

    <!---->
    <script>
        $(".chosen-select").chosen({
            search_contains: "true"
        });
        $(".chosen-container-single").css('width', '41%');
        var group = $('[name="group"]');
        group.change(function (event) {
            event.preventDefault();
            console.log($(this).val());
            $.ajax({
                method: 'get',
                url: '/shuxin-manager/get_groups_by_rule?rule=' + $(this).val(),
                success: function (data) {
                    createGroupName(JSON.parse(data))
                }
            })
        })
        function createGroupName(data) {
            var item = data.data;
            var panel = $('[name="group_name"]');
            panel.empty();
            for (var d in item) {
                var group = $('<option value=' + item[d].gname + '/' + item[d].gid + '/' + item[d].gclass + '>' + item[d].gname + '</option>');
                panel.append(group);
                panel.trigger("chosen:updated")
            }
        }


    </script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='plugin/datetimepicker/js/bootstrap-datetimepicker.min.js') }}"
            charset="UTF-8"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='plugin/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js') }}"
            charset="UTF-8"></script>
    <script src="{{ url_for('static', filename='plugin/qiniu/js/plupload/moxie.js') }}"></script>
    <script src="{{ url_for('static', filename='plugin/qiniu/js/plupload/plupload.dev.js') }}"></script>
    <script src="{{ url_for('static', filename='plugin/qiniu/js/qiniu.js') }}"></script>
{% endblock %}
